@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}

h2{
    text-align: center;
}

section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2rem;
}

.left-side, .right-side{
    display: flex;
    flex-direction: column;
}

/* Navigation */
.navbar ul {
	display: flex;
	justify-content: center;
	padding: 20px;
	margin: 0;
	list-style-type: none;
	background-color: #212121;
}

.navbar ul li {
	display: inline-block;
}
.navbar li a {
	display: block;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	padding: 25px 20px;
	font-size: 25px;
	color: #fff;
	letter-spacing: 2px;
}

path{
	stroke-width: 1;
	stroke-dasharray: 1;
	stroke-dashoffset: 1;
	animation: 5s draw forwards;
}

@keyframes draw{
	to{
		stroke-dashoffset: 0;
	}
  
.left-side{
   border: 1px solid black;
    width: 20rem;
}

.right-side{
   margin-left: 3rem;
    width: 30rem;
}

.character-img{
    width: 10rem;
    margin-left: auto;
    margin-right: auto;
}

h4{
   text-transform: capitalize;
}

.left-side h4 {
    border-top: solid 1px black;
}

p {
    color: grey;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
